.item(data-type=item.type)
  h5 Autogrow
  #autogrow(style='background-image:url(#{item.image})')
  #slider
  #value

script(src='/js/vendor/jquery.nouislider.min.js')
script(src='/js/es6/compiled/autogrow.js')
